// Link at the end of the excerpt to continue to the full post
.continue-link {
  display: block;
  font-size: small;
}

// Things in the header
.site-title {
  font-size: xx-large;
}

.site-nav .page-link {
  color: $site-title-color;
}

.site-nav {
  background-color: $link-color;
}

.site-nav .menu-icon > svg path {
  fill: $site-title-color;
}

.site-header {
  border-top: 0;
  background-color: $link-color;
}

// Styling links
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: $link-color;
}

a:hover {
  background: $code-background;
}

// Special cases for link in the header
a:link.site-title {
  color: $site-title-color;
}

a:hover.site-title {
  background-color: $link-color;
}

a:hover.page-link {
  background-color: $link-color;
}

// Background color for code snippets
pre, code {
  background-color: $code-background;
}