.continue-link {
  display: block;
  font-size: small;
}

.site-title {
  font-size: xx-large;
}

a:hover.site-title {
  background-color: $link-color;
}

.site-nav .page-link {
  color: white;
}

a:hover.page-link {
  background-color: $link-color;
}

.site-header {
  border-top: 0;
  background-color: $link-color;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $link-color;
}

a:hover {
  background: $code-background;
}

pre, code {
  background-color: $code-background;
}